# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Nav Mesh Tests.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Tobias Hoffmann\Documents\UnityProjects\Nav Mesh Tests\.idea\.idea.Nav Mesh Tests\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
